@model EplannerClone.ViewModels.EditUserPasswordViewModel

@{
    ViewBag.Title = "Change Password";
}
<div class="account-pages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="card-body">
                        <div class="p-2">
                            <h4 class="text-muted text-center">Change Password</h4>
                            <form novalidate="novalidate" action="/account/changepassword" method="post" class="needs-validation form-horizontal">
                                @Html.AntiForgeryToken()
                                    <div class="mb-2 col-sm-12">
                                        <label for="Email">Email</label>
                                        <span class="form-text">@Model.Email</span>
                                        @Html.HiddenFor(temp => temp.Email)
                                    </div>
                                    <div class="mb-2 col-sm-6">
                                        <label for="Password">Password</label>
                                        <input type="password" class="form-control" id="Password" placeholder="Password" name="Password" minlength="6" oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                                        @Html.ValidationMessageFor(x => x.Password)
                                    </div>
                                    <div class="mb-2 col-sm-6">
                                        <label for="ConfirmPassword">Confirm Password</label>
                                        <input type="password" class="form-control" id="ConfirmPassword" placeholder="Confirm Password" name="ConfirmPassword" />
                                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                                    </div>
                                <button type="submit" class="btn btn-primary">Update Password</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$("a[href='/account/changepassword']").attr("id", "active");

    //$(document).on("submit", ".needs-validation", validate);
    //$(".needs-validation input").blur(validate);
    //function validate(event) {
    //    if ($(".needs-validation")[0].checkValidity() == false) {
    //        event.preventDefault();
    //    }
    //    $(".needs-validation")[0].classList.add("was-validated");
    //}

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }
</script>
