@model ElectionPlanner.Models.DTO.LoginMasterDTO
@using CaptchaMvc.HtmlHelpers
@{
    Layout = null;
}
@using ElectionPlanner.Models.DTO
@{
    SessionDTO session = (SessionDTO)Session["UserInfo"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ELECTION PLANNER</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="~/Content/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="~/Content/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="~/Content/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />
    <style>
        .field-validation-error {
            color: red;
        }

        .field-validation-valid {
            color: red;
        }

        #CaptchaInputText {
            display: block;
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: var(--bs-body-color);
            background-color: #fff;
            background-clip: padding-box;
            border: var(--bs-border-width) solid var(--bs-border-color);
            -webkit-appearance: none;
            -moz-appearance: none;
            border-radius: var(--bs-border-radius);
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        .captcha input[type="text"] {
            height: 37px;
            color: #333;
            background-color: #fbfbfb;
            background-image: none;
            border: 0;
            border-bottom: 1px solid #fff;
            border-radius: 0;
            margin-bottom: 10px;
            width: 100%;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            box-shadow: none;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            border-bottom: 1px solid #1C2B36
        }

        .captcha img {
            float: left;
            margin-right: 10px;
            margin-bottom: 15px;
            max-height: 55px;
        }

        .captcha a {
            display: block;
            color: #f1643f;
        }

        .captcha {
            font-weight: 500;
            color: #333;
        }

            .captcha br {
                display: none
            }

        .wrapper {
            width: 100%;
            overflow: hidden;
        }

        .login-content-logo-section {
            align-items: center;
            display: flex !important;
            margin-bottom: 15px;
        }

        .login-content-logo {
            margin-right: 15px;
            max-width: 81px;
        }

        .login-content-title h4 {
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            margin: 0;
            color: #fff;
        }
    </style>

    <!-- JAVASCRIPT -->
    <script src="~/Content/assets/libs/jquery/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body style="background: #1a257d">

    <!--wrapper-->
    <div class="wrapper">
        <div class="section-authentication-cover">

            <div class="row g-0">

                @{
                    if (TempData["ErrorMessage"] != null)
                    {
                        <script>swal("ELECTION PLANNER", "कृपया सही Captcha लिखे !!", "warning");</script>
                    }
                    if (TempData["loginerrormsge"] != null)
                    {
                        <script>swal("ELECTION PLANNER", "यूजर नाम और पासवर्ड की प्रविस्टी गलत है !! कृपया दोबारा प्रयास करे !! धन्यवाद !", "error");</script>
                    }
                    if (TempData["something"] != null)
                    {
                        <script>swal("ELECTION PLANNER", "कृपया पुन: प्रयास करें , कुछ गलत हो गया है |", "warning");</script>
                    }
                }

                <div class="col-12 col-xl-8 col-xxl-8 auth-cover-left d-none d-xl-flex">
                    @*<div class="login-content-logo-section" style="padding:0px 250px !important;">
                        <img class="login-content-logo" src="~/Content/SPMU/logo.png" alt="logo">*@
                    <div class="login-content-logo-section" style="padding:0px 150px !important;">
                        <img src="~/Content/SPMU/CEOLogowhite.png" width="600" alt="" />
                        @*<div class="login-content-title">
                                <h4>भारत निर्वाचन आयोग</h4>
                                <h4>Election Commission of India</h4>
                            </div>*@
                    </div>
                </div>

                <div class="col-12 col-xl-4 col-xxl-4 auth-cover-right" style="background:#fff !important;">
                    <div class="card rounded-0 m-1 shadow-none bg-transparent mb-0">
                        <div class="card-body">
                            <div class="py-4">
                                <div class="text-center pb-4">
                                    <img src="~/Content/SPMU/CEOLog.png" width="400" alt="" />
                                </div>
                                <div class="text-center pb-3">
                                    <h5 class="pt-2">
                                        ELECTION PLANNER
                                    </h5>
                                    <p class="pt-1">Please log in to your account</p>
                                </div>
                                <div class="form-body">
                                    <div class="text-danger">
                                        @TempData["loginerrormsge"]
                                    </div>
                                    <form method="post" class="row g-3 py-3 needs-validation" enctype="multipart/form-data" id="fromCaptcha" novalidate="novalidate">
                                        <div class="col-12">
                                            <input type="text" class="form-control" placeholder="Enter Username" name="Username" />
                                            @Html.ValidationMessageFor(x => x.Username)
                                        </div>
                                        <div class="col-12">
                                            <div class="input-group" id="show_hide_password">
                                                <input type="password" class="form-control border-end-0" placeholder="Enter Password" name="Password" />
                                                <a href="javascript:;" class="input-group-text bg-transparent"><i class="bx bx-hide"></i></a>
                                            </div>
                                            @Html.ValidationMessageFor(x => x.Password)
                                        </div>

                                        <div class="col-12">
                                            <div class="text-center captcha py-3" id="captcha">
                                                @Html.Captcha("Refresh", "Enter text", 5, "<span class='text-danger'>Enter Captcha</span>", true)
                                                <p class="text-danger">@ViewBag.captcha</p>
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="d-grid">
                                                <button type="submit" id="btnLogin" class="btn btn-primary">Sign in</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end row-->

        </div>
    </div>
    <!--end wrapper-->
    <!-- JAVASCRIPT -->
    <script src="~/Content/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Content/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Content/assets/libs/node-waves/waves.min.js"></script>
    <script src="~/Content/assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Password show & hide js -->
    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bx-hide");
                    $('#show_hide_password i').removeClass("bx-show");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bx-hide");
                    $('#show_hide_password i').addClass("bx-show");
                }
            });
        });
    </script>
    <!-- App js -->
    <script src="~/Content/assets/js/app.js"></script>
</body>
</html>
